.container{
    margin-top: 100px;
}

.task-image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-add-task{
    background-color: #fff;
        padding: 10px;
        margin-top: 30px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 10px 2px gray;
}

.addtask-page-btn{
    padding: 5px;
    margin: 3px;
    width: 120px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(10, 124, 142);
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}