.card-note{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    box-shadow: 1px 1px 3px  gray;
    }
    
    .card-note-title{
      margin: 0;
    }
    
    .card-note-content{
      margin: 0;
    }
    