.card-note{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    box-shadow: 1px 1px 3px  gray;
    position: relative;
    }
    
    .card-note-title{
      margin: 0;
    }
    
    .card-note-content{
      margin: 0;
    }
    
    .delete-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }

  .deleteButton{
    position: absolute;
    top: 23px;
    right: 15px;
    cursor: pointer;
  }

  .deleteImg{
    height: 40px;
  }

  .deleteImg:hover{
    box-shadow: 5px 5px 10px 2px gray;
    transition: 0.5s;
  }